<!DOCTYPE html>
<html>
<title>Robin Lee | Assignment One</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <p><br></p>
  <img src="/begin/images/logo2.png" style="width:80%">
  <p><b>ASSIGNMENT ONE</b></p>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT ME</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>IDEAL JOB</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>MOCK <BR>PROJECT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT ME</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">IDEAL JOB</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">MOCK<BR>PROJECT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span> A1 : STUDENT PROFILE </h1>
  </header>
       <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  <body>
    
   
    <span class="img-container"> <!-- Inline parent element -->
      
      <img src="/begin/images/home4.png" alt="Robin2" class="w3-image" align="middle">
         
    </span>
    

  </body>
  <br><br><br>
<br><br><br>
  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Why I.T? Why now?</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>The reason i want to study I.T is because I relate to it easily having grown up with the industry. 
      I feel although, quite advanced in terms of what the industry has achieved, the field is still quite young and there is much more
      to be discovered and m any more milestones to reach.<br>
<br>
     My interest into I.T came when my family got our first computer, it quickly turned into my hobby. Later learning that I.T is not
     just about computers and that it affects our everday lives I was intrigued. After learning about automation, coding and all the 
      while enjoying the practical benefits from innovations such as email, telephones, internet and security systems I knew that I.T was the 
      future or as I see it, I.T will build the future.<br><br> 
      
     After high school I worked in a call center for an insurance company. I got to see first hand the transition from the company using 
      "claim forms" to lodge insurance claims to all claims being lodged either online by the Policy Holder or by the claims consulatant 
      over the phone. The new claims lodgement options eliminated countless steps for both parties involved. This is one of the reasons 
    I looked into Software engineering and furthering my knowledge and IT. <br><br>

    I didnt waste time, I was able to get a position within the same company as a software tester for the
      new claims system. This really let me see the workflow and the environment in which the I.T industry possibly operates. I did this
for about 2 years and then went to travel in Japan. <br><br>
      
      After an eye opening year eating ramen and sushi which im yet to get sick of ! I'm back a nd i want to pursuit my passion and
      career once more. However being a bit older and having less time my options were limited. RMIT offered online courses which suits
      me perfectly.<br><br>

      I want to broaden my knowledge in the field of I.T from this course and use this time to figure out if Software engineering is what
      i want to do or something similar within I.T.<br><br> <br><br>
      
     
    </p>
    <h2 class="w3-text-light-grey">A closer look at Robin Lee</h2>
     <hr style="width:200px" class="w3-opacity">
      <p>I'm ready to dive into this new journey and take the next steps but why not start with learning about myself and 
        getting to know <i>me</i> better.<br>
        I took a few online tests regarding the ways differnt people learn, our personality types and. I've included the 
        results of 3 tests below. This overview really helped me 
        understand which situtations and circumstances that i excel and exceed in and the ones that might slow me down.<BR><BR><br>
    <p class="w3-wide" style="font-size:120%;"><B>Myers-Briggs test</B></p>
<br> MB test is somewhat of a self reflection test, a psychological type of personality test.  The questions revolve around 4 main categories
        which then determines which personality you. My results showed i was a INTP type personality or nicknamed "architect", can be described as
one who has "A love of problem solving", I agree in some ways but not others.<BR><br>

      <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  <body>
    
    <span class="img-container"> <!-- Inline parent element -->
       <img src="/begin/images/MBT1.png" alt="MBT" class="w3-image">
    </span>
  </body>
<BR><BR><BR>
        
 
    <p class="w3-wide" style="font-size:120%;"><B>Emotional intelligence Test - Talentsmart.com </B></p>
  <br>
 Emotional intelligence is how a person handles his emotions and different situations and how aware he is of it, not only that but the ability
  to adapt or simple change the way you act or feel in relation to someone elses emotions, thats how i would explain it but in short... the awareness 
  and measure of how emotions affect emotions.
  This E.I test was the longest out of the 3 tests and had some very interesting questions that really gets you thinking in a 
  philisophical way. I took my time doing this test and it seems my E.I is fairly average maybe even slightly above. With a score
of 74 out of 100. In a nutshell my test results indicate that Im aware of some the thingss that i need to improve on but not everything.
  This isnt the end of the world and many people with similar scores to me are able use this test to improve weak traits to make BIG improvements. Im 
hoping the same, only time will tell...<BR>
      <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  <body>
    <br>
    <span class="img-container"> <!-- Inline parent element -->
       <img src="/begin/images/EITEST1.png" alt="EI" class="w3-image">
    </span>
  </body>
<BR><BR><BR>
  
    <p class="w3-wide" style="font-size:120%;"><B>Abstract test - www.psychometricinstitute.com.au/</B></p>
<BR>
Comprising entiriely of pictures, this multiple choice tests asks you to  identify the next shape correctly that follows a sequence, 
after showing you the previous 4 shapes of the sequence. I understood the test and was able to solve some question, but i find myself
  not 100% convinced of the methods used to test Lateral Thinking. 

Obviously with the results of this test I have come improving to do, however I think i might find myself trying another abstract test to 
  compare.<BR>
      <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  <body>
    <br>
    <span class="img-container"> <!-- Inline parent element -->
       <img src="/begin/images/ABS.png" alt="ABS" class="w3-image">
    </span>
  </body><BR><BR>
  <b>What I Learned?</b><BR>I think by doing these tests even if i dont feel they are 100% accurate for me personally it is a great tool to aid in self
discovery. The questsions asked in the EI and MB tests get you thinking about those situations and how you would act in this instances. 
In a test environment i think alot of those questions are hard to answer truthfully. The real benefit comes from the results and knowing
  what categories are tested, especially after answering questions related. It gives you an idea of what emotions, tendancies and actions 
  are involved in every decision. <BR>
By knowing about these traits and learning styles it gives you a guide to how you should be managing your work. By yourself and especially
socially in groups with others. By knowing the situations you can handle and ones you cant can be a very good indicator of where you
  should be putting yourself. <BR><BR><BR><BR><BR><BR>
    
 
  
  <!-- JOb section -->
   <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="photos">
    <h2 class="w3-text-light-grey">The "Ideal" Job</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
     <br><br>My ideal job would be as a software developer. Knowing the things i will develop and come up with will always have a target
     "audience" to please, wether it being for the client or something for myself. Everything is for the better, to simplify a process
     or to teach something in more enjoyable way. I believe you can create everything with coding ot at least can be used to help.<p>
    <div class="w3-row-padding" style="margin:0 -16px"><BR>
      <div class="w3-half">
  
     
      </div>
<a href="https://www.seek.com.au/job/41156238?type=promoted#searchRequestToken=d52171f0-cd9b-4d90-a15a-fa1e492c10ab" target="_blank">Link for Ideal Job ad!</a><br><br>
      <p> &#9196  Use thsese images if link has expired.  &#9196</P>

      <div class="w3-half">
         <a href="https://github.com/ceylonhue/begin/blob/master/images/job1.png">
  <img src="/begin/images/job1.png" style="width:40%">
</a>
        <a href="https://github.com/ceylonhue/begin/blob/master/images/job2.png">
  <img src="/begin/images/job2.png" style="width:40%">
          </a>
<br><br><br>
<B>Description of job</B><br> A software developer that speciliases in python. Building software that can corrobroate retail
data into a a centeral search. Like how an RSS feed would pull that latest info from each feed into that one location. 

This job will work with building something to organise all the different data, how its collected, how its sorted all so it is more convienent
        for whatever the client needs. Design a way to programatically update all the needed data from all different sources to one location, in this case
through Elasticsearch
<br><bR>
<B>Required skills</B><br>qualification and experience - Competent in Python, KNowledeagle with API's , experience with different data systems
, code experiece, knwoledge in Industry practices, attention to detail, competent with Guthub, lunux, DOcker and Buildkite, Experince in 
        the field, Time and team management skills        
<br><br>
<B>Action plan </B><br> Switch to Software engineering major during degree, or finish and pick up another degree. Gain experience in the field
and develop software when you can to learn more code. 
<Br><br>

      
      
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- project Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="contact">
    <h2 class="w3-text-light-grey">Mock Project - One Stop Tutor Hire</h2>
    <hr style="width:200px" class="w3-opacity">
    <p> <B>Overview</B><BR>Design a system that can be a universal access point for finding Skilled tutors in your area. A system
                   that can be a contact point between those who wish to gain knowledge and those who want to offer it. 
                   Similiar ride sharing app's, you can find tutors in your area who have indicated they are available. Unlike
                   ride shares the experience with the customer is much more hands on and interactive. 
      
                   The system will show what  are tutors available sorted by categories. Each tutor "profile" will have their availability 
                   displayed and as well prices. Customers are able to leave feedback regarding their lessons.  
                   
                   
      
<br><br>
      <B>Motivation</B><br>Due to the frustration from myself and many i have known regarding the process of getting a tutor in regards to music
      in particular is quite dated and inefficent. When i was younger and looking for a guitar teacher i tried all the normal routes like
      going to the local music shop, looking in the yellow pages, using the internet, asking friends. 
      <br><br>
      After finding one or several, there is no way I knew who to go with or if they were any good. All i had was word of mouth or pure luck.
      To be able to have a larger "community" in one where others can leave reviews and tutors can place updates. Think Uber meets Skillshare meets Music. 
<br><br><br>
 
      <B>System Features</B><br>
      One DataeBase - The system will be able to store all tutor information under the same system to allow for a universal point
      of contact for anyone seeking skilled tutors. <BR>br>
      
      <B>Multiple OS Access</B><br>
      The system will be cross platform over iOS apps, android and PC to allow for greater visibility and accesebility and convienience. 
      On all platforms you will be able to access the same database community. <br>br>
      
      <B>User and Tutor Logins and Profiles</B><br>
      The system will require a login to a registered user to keep track of all information. Users and tutors will also have user profiles 
      just like on most mediums these days. Profiles allow for sharing of updates, a point of contact between the community. Tutors can also
      upload any videos or documents onto their profile. <BR><BR>
      
      <B>Transactions through the App</B><BR>
      Tutors can offer their services and skills in the form of videos or documents. This is another source of income for the tutors but also
      another form of convieience for user. In the cases Tutors are not available or the user does not wish to meet 'face to face', the option
      is still available to learn from tutors. <BR><BR>
      
      <B>Rating system</B> <BR>
      Users will be able to rate their lessons, give feedback in form of stars which will give tutors a score. This is one of the most
      important features. Besides word of mouth at the moment there is no way to easily know how good a person is at teaching their skill, 
      My aim would be to build up a large enough database and commmunity that this is no longer a frustration. <BR><BR>
      
      <B>Easy to start</B><br>
      Tutors will no longer need to take out ads in papers, on facebook or regulalry visitting their local shop.<br><BR>

      <B>Community Driven</B><br>
     Some of the hardest parts about learning a skill is the fear of failing or feeling like you have no support or 
      wether you are even doing it correctly. Having a teacher helps with this, but sometimes its even too daunting to 
      let an 'expert' in that field know how you really feel. 
      THe community that will build up from the app usage from people leaving feedback on tutors and commenting on videos 
      or just chatting to each other, the community will act as a "friend" in your learning journey to help ease the times
      when you are doubting. <br><br>
      
      <B>Advertisements</B><br>
      
      The app will feature ads as a source of revenue and outreach. Because I aim to include all types of skills and not just
      one field. Relations with all those fields would undoubletley form, which in future i hope will allow for the fine tuning 
      of criteria's within our database searches to further provide for the customer.
      
      
      
      

      
      
      
      


<br><br>
      <B>Skills Needed </B> <BR> App design , UI design, Product design, data science, User research, product mangement
<br><br>
      <B>Final Outcome </B><BR> Finding capable people to pass on their skills will be as easy as ordering an uber. The 
      feeling of not being able to learn enough from that one youtube tutorial will be old news. With fast turn around
response times, availabilty info, and tutors offline materials. There will always be an option to find the lessons you want.
      
      
     
      
     

  <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  <body>
    <br>
    <span class="img-container"> <!-- Inline parent element -->
       <img src="/begin/images/123.png" alt="123" class="w3-image">
    </span>
  </body>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
   
  <!-- End footer -->
  </footer>

  
<!-- END PAGE CONTENT -->
</div>

</body>
</html>
